
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


#cf-turnstile iframe {
	width: 420px !important;
	display:block !important;
} 

.error {
	color: red;
}

.loading {
	color: white;
	font-size: 14px;
	vertical-align: middle;
	display: inline-block;
}

.spinner {
	margin-left: 10px;
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #7983ff; /* Color of the spinning part */
	border-radius: 50%;
	width: 14px;
	height: 14px;
	animation: spin 1s linear infinite; /* Animation for spinning */
	display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.my-color {
	color: red;
}

.my-font {
	font-family: 'Inter';
}

.my-root-class {
	background: var(--Background-200, #202227);
}

.my-root-class body {
	background: var(--Background-200, #202227);
}

.kcInputClass {
	height: 44px;
	flex-shrink: 0;
	border-radius: 8px;
	border: 1px solid #4A4C51;
	width: 100%;
	background: #2E3036;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 171.429% */
	color: #F5FAFF;
	padding-left: 8px;
}

.kcLabelClass {
	/* Text sm/Medium */
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 142.857% */
	color: var(--colors-text-text-secondary-700, #CECFD2);
	margin-bottom: 5px;
}

.btn-primary {
	border: 1px solid var(--Gradient-1, #4CC9F0);
	background: var(--Gradient-1, linear-gradient(270deg, #4CC9F0 0.1%, #4895EF 48.44%, #4268ED 99.9%));
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	display: flex;
	padding: 10px var(--spacing-xl, 16px);
	justify-content: center;
	align-items: center;
	gap: var(--spacing-sm, 6px);
	align-self: stretch;
	border-radius: var(--radius-md, 8px);
}

.btn-default {
	border: 1px solid var(--Background-300, #2E3036);
	background: transparent;
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	display: flex;
	padding: 10px var(--spacing-xl, 16px);
	justify-content: center;
	align-items: center;
	gap: var(--spacing-sm, 6px);
	align-self: stretch;
	border-radius: var(--radius-md, 8px);
	/* Text md/Semibold */
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	color: var(--Text-Secondary, #BDBEC1);
}

#kc-page-title {
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: 44px; /* 122.222% */
	letter-spacing: -0.72px;
	color: var(--colors-text-text-primary-900, #F5F5F6);
	display: flex;
	margin-bottom: 42px;
}

#kc-locale-dropdown a {
	color: #F5FAFF;
}

#kc-form-options .checkbox {
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 142.857% */
	color: var(--colors-text-text-secondary-700, #CECFD2);
}

h1 {
	margin-top: 0;
}

#kc-terms-text {
	color: var(--Text-Main, #EFF1F6);
}

.login-pf-page .card-pf p {
	color: var(--Text-Secondary, #BDBEC1);
}

.login-pf-page .login-pf-social-link a {
    display: block;
    padding: 7px 0;
    font-size: 14px;
    border: 1px solid var(--Background-300, #2E3036);
	background: transparent;
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    text-align: center;
    color: #F5FAFF;
}

.login-pf-page .login-pf-social-link a:hover {
    text-decoration: none;
    background: #ededed;
    color: #0088ce;
    background: #2E3036 !important;
}

.terms-links {
	display: flex;
	flex-direction: column;
	gap: 14px;
}